html,
body {
  padding: 0;
  margin: 0;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
